.inside {
  width: 60%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

.header {
  width: 100%;
  height: 600px;
  background: url('/static/images/heart.jpeg');
  background-size: 100% 100%;
}

.info{
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
}

.left {
  justify-content: center;
  align-items: center;
  display: flex;
}
.right {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 230px;
}

.p1 { 
  font-family: Georgia, Times, "Times New Roman", 
  serif; font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  line-height: 21.4px; 
  /*align-content: center;*/
}             
.h1 { 
  font-family: Georgia, Times, "Times New Roman",
  serif; font-size: 36px;
  font-style: normal; 
  font-variant: normal;
  font-weight: 700; 
  line-height: 38.4px;
}
.h2 { 
 font-family: "Brush Script MT", cursive;
 font-size: 26px; 
 font-style: normal; 
 font-variant: normal;
 font-weight: 700; 
 line-height: 26.4px;
}
.h3 { 
 font-family: "Brush Script MT", cursive;
 font-size: 22px; 
 font-style: normal; 
 font-variant: normal;
 font-weight: 700; 
 line-height: 2.4px;
}
.h4 { 
 font-family: Georgia, Times, "Times New Roman",
 serif; font-size: 20px;
 font-style: normal; 
 font-variant: normal;
 font-weight: 700; 
 line-height: 21.4px;
}
.subtitle{
 font-family: "Brush Script MT", cursive;
 font-size: 22px;
 font-style: normal;
 font-variant: normal;
 font-weight: 700;
 line-height: 24.4px;
}

@media screen and (max-width: 600px) {
    .row {
      grid-template-columns: auto;
    }
    .inside {
      width: 100%;
    }
}
