.inside {
  width: 60%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

.header {
  width: 100%;
  height: 600px;
  background: url('/static/images/heroes.jpg');
  background-size: 100% 100%;
}

.info{
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
}

.left {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.right {
  justify-content: center;
  align-items: center;
  display: flex;
/*  height: 350px; */
}

.p1 { 
  font-family: Georgia, Times, "Times New Roman", 
  serif; font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  line-height: 16.4px; 
  color: #151B54;
  /*align-content: center;*/
}             
.h1 { 
  font-family: Georgia, Times, "Times New Roman",
  serif; font-size: 32px;
  font-style: normal; 
  font-variant: normal;
  font-weight: 700; 
  line-height: 32.4px;
  margin-bottom: 1.5%;
  color: #151B54;
}
.h2 { 
 font-family: "Brush Script MT", cursive;
 font-size: 26px; 
 font-style: normal; 
 font-variant: normal;
 font-weight: 700; 
 line-height: 26.4px;
}
.h3 { 
 font-family: "Brush Script MT", cursive;
 font-size: 22px; 
 font-style: normal; 
 font-variant: normal;
 font-weight: 700; 
 line-height: 2.4px;
}
.h4 { 
 font-family: Georgia, Times, "Times New Roman",
 serif; font-size: 18px;
 font-style: normal; 
 font-variant: normal;
 font-weight: 200; 
 line-height: 18.4px;
 margin-bottom: 4%;
 color: #151B54;
}
.subtitle{
 font-family: "Brush Script MT", cursive;
 font-size: 22px;
 font-style: normal;
 font-variant: normal;
 font-weight: 700;
 line-height: 24.4px;
}

@media screen and (max-width: 600px) {
    .row {
      grid-template-columns: auto;
      grid-auto-rows: 1fr;
    }
    .inside {
      width: 100%;
    }
}
