/* .column {
  float: left;
  width: 50%;
} */

/* .left {
  width: 40%;
}

.right {
  width: 60%;
} */

.inside {
  width: 60%;
}

div {
  margin-top:25px;
  margin-bottom:25px;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  /* width: 100vw;
  height: 100vh; */
}

.left {
  justify-content: center;
  align-items: center;
  display: flex;
}
.right {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* .row {
    display: table;
    width: 100%;
    position:absolute;
}

.column {
    display: table-cell;
}

.left {
  table-layout: auto;
  width: 40%;
  position:relative;
}

.right {
  table-layout: auto;
  width: 60%;
} */

/* @media screen and (max-width: 1200px){
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
  }
  .inside {
    width: 100%;
  }
} */

@media screen and (max-width: 600px) {
    .row {
      grid-template-columns: auto;
    }
    .inside {
      width: 100%;
    }
}
