 <!DOCTYPE html>
     <html lang="en" dir="ltr">
     <head>
         <meta charset="utf-8">
         <title>PickMeUps</title>
     </head>
     <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
         <body>
           <div class="hero-image">
             <ul id="navbar-list" class="list-inline">
               <li class="active"><a href="{{ url_for('about') }}">About</a></li>
               <li><a href="{{ url_for('donate') }}">Donate</a></li>
               <li><a href="{{ url_for('search') }}">Search</a></li>
               <li><a href="{{ url_for('home') }}">Home</a></li>
             </ul>
            <!--  <div class="hero-text"> -->
              <!--  <b> <span style='font-size:90px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b> -->
              <!--  <h1 class ="title" style="margin-bottom:5%">About Us</h1>
             </div> -->
           </div>
        <div class="row">
             <div class="column left" ><a class="image-link" style="text-align: center" target="_blank"><img src="{{ url_for('static', filename='images/ev.JPG') }}" height=50%, width=50%></a></div>
             <div class="column right" >
               <div class="inside">
                 <b> <span style='font-size:50px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
                 <h3 class="h1" >Eric and Vikas </h3>
                 <br>
                 <br>
                 <p class = "p1">Eric Chang and Vikas Munukutla are currently seniors at Yale University and Stanford University respectively. Eric is majoring in computer science and chemistry, and Vikas is a computer science major. Both went to Beckman High School in Tustin, where they spent most of their time getting into trouble, eating junk food, and participating in buffoonery.</p>
                 <br>
                 <p class = "p1"> If you're interested in reaching out, we've also included  some social media plugs below. </p>
                 <br> 
                 <p class = "p1"> 
  					Eric's Insta: the_changalang1729 <br>
  					Vikas's Insta: vikasmunukutla <br> 
  					Eric's LinkedIn: <a> https://www.linkedin.com/in/echang1729/ </a> <br>
  					Vikas's LinkedIn: <a> https://www.linkedin.com/in/vikas-munukutla-54b981138/ </a>
				</p>
				
<!--                  <div id="outer">
				  <div class="inner"><button class="msgBtn" onClick="return false;" >Save</button></div>
				  <div class="inner"><button class="msgBtn2" onClick="return false;">Publish</button></div>
				</div> -->
              </div>
            </div>
   </body>
     </html>
