 <!DOCTYPE html>
     <html lang="en" dir="ltr">
         <h1> About Us </h1>
         <div> 
             <h3> Why are we doing this? </h3>
             <p> The main purpose of this website is to help limit the spread of corona in our neighborhood communities. 
             By allowing people to check what's available at stores nearby, we're able to limit the time that we spend outside and 
             our chances of contracting or spreading the diseases. Additionally, by reaching out to some Harvard Medical Students, 
             we were able to provide more concrete facts to demystify the myster 
             </p>

         </div> 
         <div>
             <h3> Showing that the world does care </h3>
             <p> With coronavirus, there has been an extreme uptick in race-related crimes. With President Trump previously calling it the 
             Chinese virus, it has grown increasingly difficult for us as a community to not persecute Asian Americans. Here, however, we have
             the ability to show that humanity does have hope — that we do care. With our donate sheet and requests sheet, we can come together
             as a community and help each other in difficult time. 
             </p>
        </div>
