<!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="utf-8">
            <title>PickMeUps</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/donate.css') }}" />
        </head>
        <body>
          <!-- {% extends "template.html" %} -->
           <!-- {% block content %} -->
           <ul id="navbar-list" class="list-inline">
               <li><a href="{{ url_for('stats') }}">Stats</a></li>
               <li><a href="{{ url_for('donate') }}">Donate</a></li>
               <li><a href="{{ url_for('about') }}">About</a></li>
               <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
           </ul>
        		<div class = "header"> </div>
        		<!-- <div class = "info">
        			<br>
        			<p align= "center" class = "p1"> Currently, the United States projects to have 60,000 - 160,000 ventilators available and is suffering from a dearth of PPE. In other countries such as Spain and Italy, up to 20% of all cases of COVID were healthcare professionals. Please, in the time of utter darkness, let us show some heart and compassion in the darkness and donate to those protecting and treating us. </p>
        			<br>
        		</div> -->
				<div class="row">
                <div class="column left" style="background-color: lightgrey" ><a style="text-align: center" target="_blank" href="https://www.providence.org/donate/mission-hospital-foundation/make-a-donation/covid-19-donation"><img src="{{ url_for('static', filename='images/sjh.png') }}" height="160"></a></div>
                <div class="column right" style="background-color: lightgrey"><div class="inside">
                    <b> <span style='font-size:50px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
                    <h3 class="h1" >Mission Hospital Foundation </h3>
                    <h4 class = "h4" >Address: 27800 Medical Center Road, Medical Office Building 3 </h4>

                    <p class = "p1">Mission Hospital Foundation is requesting donations of money or medical supplies, specifically new and unused donations of 1) 3M, N95 and Surgical Masks, 2) Disposable/Protective Gloves, 3) Protective/Safety Goggles, 4) Hand Sanitizer. Please contact the Foundation at (949) 364-7783 or MissionFoundation@stjoe.org prior to delivery, and staff will meet donors outside the given address from Monday-Friday, 8:30 a.m. - 4:30 p.m.</p>
                    <br>
                    <p class = "p1"> <b> Link: </b> <a target="_blank" href="https://www.providence.org/donate/mission-hospital-foundation/make-a-donation/covid-19-donation">https://www.providence.org/donate/mission-hospital-foundation/make-a-donation/covid-19-donation</a></p>

                </div>
            </div>
            <!-- <div class="row"> -->
                <div class="column left" ><a style="text-align: center" target="_blank" href="https://lookinside.kaiserpermanente.org/donate-ppe/"><img src="{{ url_for('static', filename='images/kp.png') }}" height="160"></a></div>
                <div class="column right"><div class="inside"><b>Name:</b> Kaiser Permanente Orange County - Irvine Medical Center<br>
                    <b>Address:</b> 6640 Alton Pkwy, Irvine, CA 92618<br>
                    <b>Link:</b> <a target="_blank" href="https://lookinside.kaiserpermanente.org/donate-ppe/">https://lookinside.kaiserpermanente.org/donate-ppe/</a><br>
                    <b> Description:</b> Kaiser Permanente is requesting donations of personal protective equipment and even homemade masks. It has a national donation network for any donations coming in, so please direct any donation offers to KPCOVID-19Donations@kp.org. Details of what they are requesting and the donation process are described in the link.<br></div>
            </div>
            <!-- <div class="row"> -->
                <div class="column left" style="background-color: lightgrey"><a style="text-align: center" target="blank" href="https://giving.hoag.org/COVID19"><img src="{{ url_for('static', filename='images/hoag.png') }}" height="160"></a></div>
                <div class="column right" style="background-color: lightgrey"><div class="inside"><b>Name:</b> Hoag Hospital Irvine<br>
                    <b>Address:</b> 16200 Sand Canyon Ave., Irvine, CA 92618<br>
                    <b>Links:</b> <a target="_blank" href="https://covid19.hoag.org/donations/">https://covid19.hoag.org/donations/</a>, <a target="blank" href="https://giving.hoag.org/COVID19">https://giving.hoag.org/COVID19</a><br>
                    <b>Description:</b> Hoag Hospital Irvine is requesting financial contributions to <a target="_blank" href="https://giving.hoag.org/COVID19">https://giving.hoag.org/COVID19</a> and donations of unused supplies and other essential items to <a target="_blank" href="https://covid19.hoag.org/donations/">https://covid19.hoag.org/donations/</a>.<br></div>
            </div>
            <!-- <div class="row"> -->
                <div class="column left"><a style="text-align: center" target="_blank" href="https://start.emailopen.com/public1/surveyResponse1.aspx?id1=2732&id2=Kz2i9BYj4a8T7Ec"><img src="{{ url_for('static', filename='images/ucirvine.png') }}" height="160"></a></div>
                <div class="column right"><div class="inside"><b>Name:</b> UCI Medical Center<br>
                    <b>Address:</b> 101 The City Drive South, Orange, CA 92868<br>
                    <b>Link:</b> <a target="_blank" href="https://start.emailopen.com/public1/surveyResponse1.aspx?id1=2732&id2=Kz2i9BYj4a8T7Ec">https://start.emailopen.com/public1/surveyResponse1.aspx?id1=2732&id2=Kz2i9BYj4a8T7Ec<br></a>
                    <b>Description:</b> UCI Medical Center is requesting medical supplies and equipment. In order to donate, please fill out the questionnaire and the UCI Health team will follow up with a response upon initial review.<br></div>
            </div>
            <!-- <div class="row"> -->
                <div class="column left" style="background-color: lightgrey"><a style="text-align: center" target="_blank" href="https://www.memorialcare.org/donations"><img src="{{ url_for('static', filename='images/memorialcare.png') }}" height="100"></a></div>
                <div class="column right" style="background-color: lightgrey"><div class="inside"><b>Name:</b> MemorialCare Orange Coast Medical Center<br>
                    <b>Address:</b> 18111 Brookhurst Street, Fountain Valley, CA 92708<br>
                    <b>Link:</b> <a target="_blank" href="https://www.memorialcare.org/donations">https://www.memorialcare.org/donations<br></a>
                    <b>Description:</b> MemorialCare Orange Coast Medical Center is requesting various unused medical supplies. To make a supply donation, fill out the form in the link. To make a monetary donation, scroll to the bottom to the heading labeled ‘Make an Online Monetary Donation’.<br></div>
                </div>
            <!-- <form name="donateForm" onsubmit="return submitForm()" method="post">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" required><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" required><br><br>
                <label for="amount">Amount($):</label><br>
                <input type="number" id="amount" name="amount" required><br><br>
                <input type="submit" value="Submit">
            </form> -->
             <!-- {% endblock %} -->
        </body>
       <!--  <script type="text/javascript">
            function submitForm(){
                return true;
            }
        </script> -->
</html>
