<!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="utf-8">
            <title>PickMeUps</title>
        </head>
        <body>
            <div>Donate page</div>
            <form action="/action_page.php">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>
                <input type="submit" value="Submit">
            </form>
            <div><a target="_blank" href=https://www.nytimes.com/article/coronavirus-how-to-help-donations-charities.html>https://www.nytimes.com/article/coronavirus-how-to-help-donations-charities.html</a>: This article has links to multiple donating sites.</div>
            <div><a target="_blank" href=https://www.globalgiving.org/projects/coronavirus-relief-fund>https://www.globalgiving.org/projects/coronavirus-relief-fund/</a>: This link is global giving.</div>
        </body>
</html>
