<!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="utf-8">
            <title>PickMeUps</title>
        </head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
        <body>
          <div class="hero-image">
            <ul id="navbar-list" class="list-inline">
              <!-- <li><a href="{{ url_for('stats') }}">Stats</a></li> -->
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('donate') }}">Donate</a></li>
              <li><a href="{{ url_for('search') }}">Search</a></li>
              <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
            <div class="hero-text">
              <b> <span style='font-size:90px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
              <h1 class ="title" style="margin-bottom:5%">PickMeUps — OC</h1>
              <h1 class ="subtitle">Bringing the Community Together</h1>
            </div>
          </div>
            <div class="row">
              <div class="column left" ><a class="image-link" style="text-align: center" target="_blank" ><img src="{{ url_for('static', filename='images/home_images/maps.jpg') }}" height=60%, width=60%></a></div>
              <div class="column right" >
                <div class="inside">
                  <b> <span style='font-size:50px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
                  <h3 class="h1" >Search </h3>
                  <br>
                  <br>
                  <p class = "p1">Search allows users to look up necessities from supermarkets efficiently. It returns applicable results from most grocery stores within a 7 mile radius. Effectively then, each person minimizes the need to shop at multiple stores for their essentials — optimizing for social distancing and convenience. Although it only currently supports Irvine grocery stores that have websites, we expect to expand its functionality to most large supermarket chains in all areas.</p>
                  <br>
                  <br>
                 <p class = "p1" ><a class="button" href="{{url_for('search')}}"> Search </a> </p>
               </div>
             </div>
             <div class="column left"><a class="image-link" style="text-align: center" target="_blank" ><img src="{{ url_for('static', filename='images/home_images/donate.png') }}" height=60%, width=60%></a></div>
             <div class="column right">
               <div class="inside">
                 <b> <span style='font-size:50px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
                 <h3 class="h1">Donate </h1>
                 <br>
                 <br>
                 <p class="p1">Donate encourages all within the community to support our healthcare workers and the ill. With a shortage of ventilators and PPE for our healthcare workers, we strain our first line of defense and minimize the survival rates of those with COVID. Here, more than ever, we need to show our compassion for our community. </p>
                 <br>
                 <br>
                 <p class = "p1" > <a class="button" href="{{url_for('donate')}}"> Donate </a> </p>
                 <!-- <p class="p1"> <b> Link: </b> <a target="_blank" href="https://start.emailopen.com/public1/surveyResponse1.aspx?id1=2732&id2=Kz2i9BYj4a8T7Ec">https://start.emailopen.com/public1/surveyResponse1.aspx?id1=2732&id2=Kz2i9BYj4a8T7Ec</a></p> -->
               </div>
             </div>
             <div class="column left" ><a class="image-link" style="text-align: center" target="_blank" ><img src="{{ url_for('static', filename='images/home_images/stats.jpg') }}" height=60%, width=60%></a></div>
             <div class="column right" >
               <div class="inside">
                 <b> <span style='font-size:50px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
                 <h3 class="h1">About </h1>
                  <br>
                  <br>
                 <p class="p1"> The developers of this website aim to contribute in any fashion they can to help the community — if you have any questions or suggestions on how to improve the site or its functionality, please do not hesitate to reach out to vikas9.m@gmail.com. If you want to learn more about us, click below to look at our backgrounds! *We're pretty boring though, so don't expect anything too special*. </p>
                 <br>
                 <br>
                 <p class = "p1" > <a class="button" href="{{url_for('about')}}"> About </a> </p>
               </div>
             </div>
             <div class="column left"  ><a class="image-link" style="text-align: center" target="_blank" ><img src="{{ url_for('static', filename='images/soon.jpg') }}" height=60%, width=60%></a></div>
             <div class="column right" >
               <div class="inside">
                 <b> <span style='font-size:50px; color: #66CDAA; margin-bottom: 8px;'>&#9473;</span> </b>
                 <h3 class="h1">Coming Soon </h3>
                 <br>
                 <br>
                 <p class="p1">We hope to eventually support different regions such as Sugarlands Texas, New Haven Connecticut, Palo Alto California, and more! We also aim to bring more features onto our site, such as the ability to create a matching system: community members who are high risk individuals can opt to have volunteers bring groceries to their door, etc. We also hope to partner with other sites to provide the most up to date information possible.</p>
                 <br>
                 <br>
                 <b> <p class = "p1" > NEXT: </p> </b>
                 <p class = "p1"> Destination: Sugarlands, Texas. <br> Our newest partner: Archer Wang, MIT 2023</p>
                 <!-- <p class="p1"> <b> Link: </b> <a target="_blank" href="https://www.providence.org/donate/mission-hospital-foundation/make-a-donation/covid-19-donation">https://www.providence.org/donate/mission-hospital-foundation/make-a-donation/covid-19-donation</a></p> -->
               </div>
             </div>
           </div>
        </body>
</html>
